.bg {
  height: 300%;
  background-color: rgba(0, 0, 0);
  position: relative;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;

  .item {
    font-weight: 900;
    font-family: 'EB Garamond', serif;
    margin: 0rem  1rem;
  }
}