.main-container {
  height: 5000vh;
  width: 100vw;
  padding-top: 60px;
}

.nav {
  background-color: #c3c0c0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
}

.top-bg {
  height: calc(100vh - 60px);
  width: 100vw;
  overflow: hidden;
  background-color: rgba(0, 0, 0);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;

  .item {
    font-weight: 900;
    font-family: 'EB Garamond', serif;
    margin: 0rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}
@media screen and (min-width: 1281px) {
  .container {
    width: 65%;
  }
}
