.main-container {
  height: 5000vh;
  width: 100vw;
}

.nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 0 20px;

  .nav-logo {
    height: 80px;
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
  }
}


.top-container {
  min-height: 100vh; 
  width: 100vw;
  overflow: hidden;
  background-color: rgba(0, 0, 0);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.char-container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;

  .item {
    font-weight: 900;
    font-family: 'EB Garamond', serif;
    margin: 0rem 1rem;
  }
}

.down-arrow {
  font-size: 3rem;
  color: #ffffff;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  cursor: pointer;
  z-index: 20;
}


@media screen and (max-width: 768px) {
  .char-container {
    width: 100%;
  }
}
@media screen and (min-width: 1281px) {
  .container {
    width: 65%;
  }
}
