.main-container {
  height: 5000vh;
  width: 100vw;
}

.nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: clamp(40px, 10vh, 80px);
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 0 20px;
  // backdrop-filter: blur(3px);
  border-radius: 0 0 40px 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  .nav-logo-bg {
    height: 90%;
    border-radius: 100px;
    backdrop-filter: blur(1.5px);
    overflow: hidden;

    .nav-logo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      scale: 1.4;
    }
  }
}

.top-container {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgba(0, 0, 0);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.char-container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;

  .item {
    font-weight: 900;
    font-family: 'EB Garamond', serif;
    margin: 0rem 0.3rem;
  }
}

.down-arrow {
  font-size: 3rem;
  color: #ffffff;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  cursor: pointer;
  z-index: 20;
}

.intro-container {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  overflow: hidden;

  .intro-bg-decoration-container {
    position: absolute;
    top: 80%;
    left: 95%;
    transform: translate(-50%, -50%);

    .intro-bg-decoration {
      width: 50px;
      height: 50px;
      border-radius: 100px;
      margin-bottom: 10px;
    }
  }
  .intro-title {
    font-size: 6rem;
    font-family: 'Bodoni Moda';
    font-style: italic;
    color: #000000;
  }
}

@media screen and (max-width: 768px) {
  .char-container {
    width: 100%;
  }
}
@media screen and (min-width: 1281px) {
  .container {
    width: 65%;
  }
}
